*{
    font-family: Futura, "Trebuchet MS", Arial, sans-serif;
}

header{
    background-color: rgba(21, 20, 68, 0.877);
    color: snow;
    text-align: center;
    opacity: .84;
}

body{
    background-image: url(./images/sky.jpg);
    opacity: .84;
}

.rockLeft{
    float: left;
}

.rockRight{
    float: right;
}

.singleDayCard{
    margin-bottom: 10px;
    padding-bottom: 20px;
}

.fiveDayCard{
    background-color: lightskyblue;
    min-width: 20%;
}
.fiveDayForecast{
    padding-bottom: 20px;
}

aside{
    padding-left: 1%;
    padding-right: 1%;
    margin-left: 1%;
    padding-bottom: 20px;
}

form{
    margin-bottom: 15px;
}

#currentWeatherIcon{
    width: 100px;
}

.icon{
    width: 70px;
}