header{
    background-color: rgba(21, 20, 68, 0.877);
    color: snow;
    text-align: center;
}

.rockLeft{
    float: left;
}

.rockRight{
    float: right;
}

.fiveDayCard{
    background-color: lightskyblue;
    min-width: 20%;
}

aside{
    padding-left: 1%;
    padding-right: 5%;
}

